@font-face {
  font-family: "Novecento";
  src: url("../fonts/Novecentowide-Medium.otf") format("opentype");
  font-weight: normal;
}

/* line 28, ../sass/skyloft.scss */
* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

/* line 34, ../sass/skyloft.scss */
body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  display: block;
  font-size: 16px;
}

/* line 43, ../sass/skyloft.scss */
.infogr {
  width: 800px;
  height: 600px;
  display: block;
  position: relative;
  padding: 0;
  margin: 0;
  overflow: hidden;
}
/* line 53, ../sass/skyloft.scss */
.infogr img[usemap] {
  position: absolute;
  top: 0;
  left: 0;
}

/* line 60, ../sass/skyloft.scss */
.infogr__UI {
  font-family: Helvetica, sans-serif;
  position: relative;
  top: 20px;
}
/* line 65, ../sass/skyloft.scss */
.infogr__UI ul.nav {
  list-style-type: none;
  padding: 0;
  text-align: center;
  margin: 0;
}
/* line 71, ../sass/skyloft.scss */
.infogr__UI ul.nav li {
  display: inline-block;
  border-radius: 3px;
  position: relative;
  background: #313227;
  border: 1px solid #171611;
  box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.5);
  margin-right: 12px;
  margin-left: -3px;
  transition: all 350ms ease-in-out;
  -webkit-transition: all 350ms ease-in-out;
  -moz-transition: all 350ms ease-in-out;
}
/* line 82, ../sass/skyloft.scss */
.infogr__UI ul.nav li:first-of-type {
  margin-left: 0px;
}
/* line 86, ../sass/skyloft.scss */
.infogr__UI ul.nav li.active, .infogr__UI ul.nav li:hover, .infogr__UI ul.nav li:active {
  background: #fff;
  border: 1px solid #fff;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.3);
}
/* line 92, ../sass/skyloft.scss */
.infogr__UI ul.nav li.active:after {
  content: '';
  display: block;
  width: 10px;
  height: 10px;
  position: absolute;
  margin: 0 auto;
  background: #fff;
  box-shadow: 2px 2px 3px 0 rgba(0, 0, 0, 0.3);
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  left: 50%;
  margin-left: -5px;
  bottom: -5px;
}
/* line 107, ../sass/skyloft.scss */
.infogr__UI ul.nav li a.nav-link {
  text-decoration: none;
  color: #596744;
  font-family: 'Novecento';
  font-size: 0.725rem;
  padding: 7px 18px;
  display: block;
}
/* line 118, ../sass/skyloft.scss */
.infogr__UI .display {
  position: relative;
  display: block;
  color: #fff;
  text-shadow: 0 3px 10px rgba(0, 0, 0, 0.75);
  font-size: 0.875rem;
  line-height: 1;
  width: 740px;
  margin: 0 auto;
}
/* line 128, ../sass/skyloft.scss */
.infogr__UI .display h1 {
  font-family: 'Novecento';
  font-size: 1.75rem;
  margin-bottom: 1.25rem;
}
/* line 134, ../sass/skyloft.scss */
.infogr__UI .display p {
  margin-top: 1.5625rem;
  line-height: 1.25rem;
}

/* line 141, ../sass/skyloft.scss */
.infogr__map-helper {
  position: absolute;
  width: 170px;
  height: 290px;
  bottom: 72px;
  right: 20px;
  background: #fff;
  border-radius: 3px;
  padding: 10px 15px;
  box-shadow: 0 7px 8px 0 rgba(0, 0, 0, 0.54);
  overflow: hidden;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  transition: height 500ms ease-in-out;
  -webkit-transition: height 500ms ease-in-out;
  -moz-transition: height 500ms ease-in-out;
}
/* line 155, ../sass/skyloft.scss */
.infogr__map-helper.min {
  height: 40px;
}
/* line 157, ../sass/skyloft.scss */
.infogr__map-helper h3 {
  font-family: 'Novecento';
  font-size: 1rem;
  color: #323232;
  margin: 0;
  display: inline-block;
}
/* line 165, ../sass/skyloft.scss */
.infogr__map-helper .toggle-info {
  display: inline-block;
  text-decoration: none;
  color: inherit;
  position: absolute;
  right: 15px;
  transition: all 500ms ease-in-out;
  -webkit-transition: all 500ms ease-in-out;
  -moz-transition: all 500ms ease-in-out;
}
/* line 173, ../sass/skyloft.scss */
.infogr__map-helper .toggle-info.rotate {
  transform: rotate(-180deg);
  -webkit-transform: rotate(-180deg);
  -moz-transform: rotate(-180deg);
}
/* line 176, ../sass/skyloft.scss */
.infogr__map-helper img[alt=Legende] {
  margin-top: 18px;
}

/* line 179, ../sass/skyloft.scss */
.infogr__main-locs .loc {
  position: absolute;
  width: 35px;
  height: 35px;
  background-image: url("../img/sprite.png");
  background-repeat: no-repeat;
  opacity: 1;
  transform: translateY(0px);
  -webkit-transform: translateY(0px);
  -moz-transform: translateY(0px);
  transition: all 500ms ease-in-out;
  -webkit-transition: all 500ms ease-in-out;
  -moz-transition: all 500ms ease-in-out;
}
/* line 189, ../sass/skyloft.scss */
.infogr__main-locs .loc.invis {
  opacity: 0;
  transform: translateY(-100px);
  -webkit-transform: translateY(-100px);
  -moz-transform: translateY(-100px);
}
/* line 194, ../sass/skyloft.scss */
.infogr__main-locs .loc.bbq {
  background-position: -120px 0;
  left: 40px;
  top: 474px;
  transition-delay: 150ms;
  -webkit-transition-delay: 150ms;
  -moz-transition-delay: 150ms;
}
/* line 201, ../sass/skyloft.scss */
.infogr__main-locs .loc.sea {
  background-position: -40px 0;
  top: 442px;
  left: 131px;
  transition-delay: 300ms;
  -webkit-transition-delay: 300ms;
  -moz-transition-delay: 300ms;
}
/* line 208, ../sass/skyloft.scss */
.infogr__main-locs .loc.playgr {
  background-position: 0 0;
  top: 454px;
  left: 464px;
  transition-delay: 450ms;
  -webkit-transition-delay: 450ms;
  -moz-transition-delay: 450ms;
}
/* line 215, ../sass/skyloft.scss */
.infogr__main-locs .loc.shop {
  background-position: -200px 0;
  left: 523px;
  top: 452px;
  width: 56px;
  transition-delay: 600ms;
  -webkit-transition-delay: 600ms;
  -moz-transition-delay: 600ms;
}
/* line 223, ../sass/skyloft.scss */
.infogr__main-locs .loc.entry {
  background-position: -80px 0;
  top: 510px;
  left: 494px;
  transition-delay: 750ms;
  -webkit-transition-delay: 750ms;
  -moz-transition-delay: 750ms;
}
/* line 230, ../sass/skyloft.scss */
.infogr__main-locs .loc.parking {
  background-position: -160px 0;
  left: 554px;
  top: 510px;
  transition-delay: 900ms;
  -webkit-transition-delay: 900ms;
  -moz-transition-delay: 900ms;
}

/* line 238, ../sass/skyloft.scss */
.ms-tooltip {
  width: 350px;
  height: 170px;
  background: #fff;
  position: absolute;
  border-radius: 10px;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  box-shadow: 0 9px 16px 0 rgba(0, 0, 0, 0.36);
}
/* line 248, ../sass/skyloft.scss */
.ms-tooltip:after {
  content: '';
  display: block;
  width: 20px;
  height: 20px;
  position: absolute;
  background: #fff;
  box-shadow: 2px 2px 3px 0 rgba(0, 0, 0, 0.3);
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  bottom: -10px;
}
/* line 260, ../sass/skyloft.scss */
.ms-tooltip.left:after {
  left: 37px;
}
/* line 264, ../sass/skyloft.scss */
.ms-tooltip.center:after {
  left: 50%;
  margin-left: -20px;
}
/* line 269, ../sass/skyloft.scss */
.ms-tooltip.right:after {
  right: 37px;
}
/* line 274, ../sass/skyloft.scss */
.ms-tooltip .ms-tooltip__pseudo {
  background: url("../img/tooltip-shape-after.png") 0 0 no-repeat;
  width: 129px;
  height: 133px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
  display: inline-block;
}
/* line 285, ../sass/skyloft.scss */
.ms-tooltip .ms-tooltip__image {
  mask-image: url("../img/tooltip-shape.png");
  -webkit-mask-image: url("../img/tooltip-shape.png");
  -moz-mask-image: url("../img/tooltip-shape.png");
  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;
  -moz-mask-repeat: no-repeat;
  background: url("../img/kletter1.jpg") 0 -210px no-repeat;
  width: 119px;
  height: 133px;
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  z-index: 5;
}
/* line 298, ../sass/skyloft.scss */
.ms-tooltip .ms-tooltip__text {
  font-family: Helvetica, sans-serif;
  font-size: 0.75rem;
  width: 190px;
  height: 140px;
  position: absolute;
  right: 20px;
  top: 15px;
  color: #464646;
}
/* line 308, ../sass/skyloft.scss */
.ms-tooltip .ms-tooltip__text h4 {
  font-family: 'Novecento';
  font-size: 0.9375rem;
  margin: 0;
}
