@font-face {
  font-family: "Novecento";
  src: url("../fonts/Novecentowide-Medium.otf") format("opentype");
  font-weight: normal;
}

/* line 28, ../sass/skyloft.scss */
* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

/* line 34, ../sass/skyloft.scss */
body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  display: block;
  font-size: 16px;
}

/* line 43, ../sass/skyloft.scss */
.infogr {
  width: 800px;
  height: 600px;
  background: url("../img/map.jpg") 0 0 no-repeat;
  display: block;
  position: relative;
  padding: 0;
  margin: 0;
  overflow: hidden;
}
/* line 53, ../sass/skyloft.scss */
.infogr img[alt=Skyloft] {
  position: absolute;
  top: 0;
  left: 0;
}

/* line 60, ../sass/skyloft.scss */
.infogr__UI {
  font-family: Helvetica, sans-serif;
  position: relative;
  top: 20px;
}
/* line 65, ../sass/skyloft.scss */
.infogr__UI ul.nav {
  list-style-type: none;
  padding: 0;
  text-align: center;
  margin: 0;
}
/* line 71, ../sass/skyloft.scss */
.infogr__UI ul.nav li {
  display: inline-block;
  border-radius: 3px;
  position: relative;
  background: #313227;
  border: 1px solid #171611;
  box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.5);
  margin-right: 12px;
  margin-left: -3px;
  transition: all 350ms ease-in-out;
  -webkit-transition: all 350ms ease-in-out;
  -moz-transition: all 350ms ease-in-out;
}
/* line 82, ../sass/skyloft.scss */
.infogr__UI ul.nav li:first-of-type {
  margin-left: 0px;
}
/* line 86, ../sass/skyloft.scss */
.infogr__UI ul.nav li.active, .infogr__UI ul.nav li:hover, .infogr__UI ul.nav li:active {
  background: #fff;
  color: #596744;
  border: 1px solid #fff;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.3);
}
/* line 93, ../sass/skyloft.scss */
.infogr__UI ul.nav li.active a.nav-link, .infogr__UI ul.nav li:hover a.nav-link, .infogr__UI ul.nav li:active a.nav-link {
  color: #596744;
}
/* line 97, ../sass/skyloft.scss */
.infogr__UI ul.nav li.active:after {
  content: '';
  display: block;
  width: 10px;
  height: 10px;
  position: absolute;
  margin: 0 auto;
  background: #fff;
  box-shadow: 2px 2px 3px 0 rgba(0, 0, 0, 0.3);
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  left: 50%;
  margin-left: -5px;
  bottom: -5px;
}
/* line 112, ../sass/skyloft.scss */
.infogr__UI ul.nav li a.nav-link {
  text-decoration: none;
  color: #8CA765;
  font-family: 'Novecento';
  font-size: 0.725rem;
  padding: 7px 18px;
  display: block;
}
/* line 123, ../sass/skyloft.scss */
.infogr__UI .display {
  position: relative;
  display: block;
  color: #fff;
  text-shadow: 0 3px 10px rgba(0, 0, 0, 0.75);
  font-size: 0.875rem;
  line-height: 1;
  width: 740px;
  margin: 0 auto;
}
/* line 133, ../sass/skyloft.scss */
.infogr__UI .display h1 {
  font-family: 'Novecento';
  font-size: 1.75rem;
  margin-bottom: 1.25rem;
}
/* line 139, ../sass/skyloft.scss */
.infogr__UI .display p {
  margin-top: 1.5625rem;
  line-height: 1.25rem;
}

/* line 146, ../sass/skyloft.scss */
.infogr__map-helper {
  position: absolute;
  width: 170px;
  height: 290px;
  z-index: 10;
  bottom: 72px;
  right: 20px;
  background: #fff;
  border-radius: 3px;
  padding: 10px 15px;
  box-shadow: 0 7px 8px 0 rgba(0, 0, 0, 0.54);
  overflow: hidden;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  transition: height 500ms ease-in-out;
  -webkit-transition: height 500ms ease-in-out;
  -moz-transition: height 500ms ease-in-out;
}
/* line 161, ../sass/skyloft.scss */
.infogr__map-helper.min {
  height: 40px;
}
/* line 163, ../sass/skyloft.scss */
.infogr__map-helper h3 {
  font-family: 'Novecento';
  font-size: 1rem;
  color: #323232;
  margin: 0;
  position: relative;
  z-index: 20;
  display: inline-block;
}
/* line 173, ../sass/skyloft.scss */
.infogr__map-helper .toggle-info {
  display: inline-block;
  text-decoration: none;
  color: inherit;
  z-index: 20;
  position: absolute;
  right: 15px;
  transition: all 500ms ease-in-out;
  -webkit-transition: all 500ms ease-in-out;
  -moz-transition: all 500ms ease-in-out;
}
/* line 182, ../sass/skyloft.scss */
.infogr__map-helper .toggle-info.rotate {
  transform: rotate(-180deg);
  -webkit-transform: rotate(-180deg);
  -moz-transform: rotate(-180deg);
}
/* line 185, ../sass/skyloft.scss */
.infogr__map-helper img[alt=Legende] {
  margin-top: 18px;
}
/* line 187, ../sass/skyloft.scss */
.infogr__map-helper .info-layer {
  height: 616px;
  width: 240px;
  display: block;
  position: absolute;
  left: 0;
  opacity: 0;
  background: url(../img/info-layer.png) 0 0 no-repeat;
  transition: opacity 500ms ease-in-out;
  -webkit-transition: opacity 500ms ease-in-out;
  -moz-transition: opacity 500ms ease-in-out;
}

/* line 199, ../sass/skyloft.scss */
.infogr__main-locs .loc {
  position: absolute;
  width: 35px;
  height: 35px;
  background-image: url("../img/sprite.png");
  background-repeat: no-repeat;
  opacity: 1;
  transform: translateY(0px);
  -webkit-transform: translateY(0px);
  -moz-transform: translateY(0px);
  transition: all 500ms ease-in-out;
  -webkit-transition: all 500ms ease-in-out;
  -moz-transition: all 500ms ease-in-out;
}
/* line 209, ../sass/skyloft.scss */
.infogr__main-locs .loc.invis {
  opacity: 0;
  transform: translateY(-100px);
  -webkit-transform: translateY(-100px);
  -moz-transform: translateY(-100px);
}
/* line 214, ../sass/skyloft.scss */
.infogr__main-locs .loc.bbq {
  background-position: -120px 0;
  left: 40px;
  top: 474px;
  transition-delay: 150ms;
  -webkit-transition-delay: 150ms;
  -moz-transition-delay: 150ms;
}
/* line 221, ../sass/skyloft.scss */
.infogr__main-locs .loc.sea {
  background-position: -40px 0;
  top: 442px;
  left: 131px;
  transition-delay: 300ms;
  -webkit-transition-delay: 300ms;
  -moz-transition-delay: 300ms;
}
/* line 228, ../sass/skyloft.scss */
.infogr__main-locs .loc.playgr {
  background-position: 0 0;
  top: 454px;
  left: 464px;
  transition-delay: 450ms;
  -webkit-transition-delay: 450ms;
  -moz-transition-delay: 450ms;
}
/* line 235, ../sass/skyloft.scss */
.infogr__main-locs .loc.shop {
  background-position: -200px -37px;
  left: 523px;
  z-index: 4;
  top: 452px;
  transition-delay: 600ms;
  -webkit-transition-delay: 600ms;
  -moz-transition-delay: 600ms;
}
/* line 244, ../sass/skyloft.scss */
.infogr__main-locs .loc.shop:before {
  content: '';
  display: block;
  width: 35px;
  height: 35px;
  background-repeat: no-repeat;
  background-image: url("../img/sprite.png");
  background-position: -200px -37px;
}
/* line 254, ../sass/skyloft.scss */
.infogr__main-locs .loc.shop .wc {
  display: block;
  width: 34px;
  opacity: 0;
  z-index: -3;
  height: 15px;
  background-image: url("../img/sprite.png");
  background-repeat: no-repeat;
  background-position: -202px -79px;
  transform-origin: left center;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  animation: wc 1s 2s 1 forwards;
  -webkit-animation: wc 1s 2s 1 forwards;
  -moz-animation: wc 1s 2s 1 forwards;
  transition: all 500ms ease-in-out;
  -webkit-transition: all 500ms ease-in-out;
  -moz-transition: all 500ms ease-in-out;
  position: absolute;
  top: 10px;
  left: 22px;
}
/* line 273, ../sass/skyloft.scss */
.infogr__main-locs .loc.entry {
  background-position: -80px 0;
  top: 510px;
  left: 494px;
  transition-delay: 750ms;
  -webkit-transition-delay: 750ms;
  -moz-transition-delay: 750ms;
}
/* line 280, ../sass/skyloft.scss */
.infogr__main-locs .loc.parking {
  background-position: -160px 0;
  left: 554px;
  top: 510px;
  transition-delay: 900ms;
  -webkit-transition-delay: 900ms;
  -moz-transition-delay: 900ms;
}

/* line 288, ../sass/skyloft.scss */
.ms-tooltip {
  width: 350px;
  min-height: 140px;
  background: #fff;
  position: absolute;
  border-radius: 10px;
  opacity: 0;
  z-index: 2;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  transform: translateY(-20px);
  -webkit-transform: translateY(-20px);
  -moz-transform: translateY(-20px);
  transition: all 250ms ease-in-out;
  -webkit-transition: all 250ms ease-in-out;
  -moz-transition: all 250ms ease-in-out;
  box-shadow: 0 9px 16px 0 rgba(0, 0, 0, 0.36);
}
/* line 302, ../sass/skyloft.scss */
.ms-tooltip:after {
  content: '';
  display: block;
  width: 20px;
  height: 20px;
  position: absolute;
  background: #fff;
  box-shadow: 2px 2px 3px 0 rgba(0, 0, 0, 0.3);
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  bottom: -10px;
}
/* line 314, ../sass/skyloft.scss */
.ms-tooltip.left:after {
  left: 37px;
}
/* line 315, ../sass/skyloft.scss */
.ms-tooltip.center:after {
  left: 50%;
  margin-left: -20px;
}
/* line 316, ../sass/skyloft.scss */
.ms-tooltip.right:after {
  right: 37px;
}
/* line 318, ../sass/skyloft.scss */
.ms-tooltip.anim {
  transform: translateY(0px);
  -webkit-transform: translateY(0px);
  -moz-transform: translateY(0px);
  opacity: 1;
}
/* line 323, ../sass/skyloft.scss */
.ms-tooltip.after-anim {
  opacity: 0;
  transform: translateY(-20px);
  -webkit-transform: translateY(-20px);
  -moz-transform: translateY(-20px);
}
/* line 328, ../sass/skyloft.scss */
.ms-tooltip .ms-tooltip__pseudo {
  background: url("../img/tooltip-shape-after.png") 0 0 no-repeat;
  width: 129px;
  height: 133px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
  display: inline-block;
}
/* line 339, ../sass/skyloft.scss */
.ms-tooltip .ms-tooltip__image {
  background-image: url(../img/img-kletterstart.png);
  background-position: 0 0;
  background-repeat: no-repeat;
  width: 119px;
  height: 122px;
  position: absolute;
  top: -1px;
  left: -1px;
  display: inline-block;
  z-index: 5;
}
/* line 354, ../sass/skyloft.scss */
.ms-tooltip .ms-tooltip__text {
  font-family: Helvetica, sans-serif;
  font-size: 0.75rem;
  width: 190px;
  position: relative;
  left: 145px;
  top: 15px;
  color: #464646;
}
/* line 365, ../sass/skyloft.scss */
.ms-tooltip .ms-tooltip__text:after {
  content: '';
  display: block;
  height: 25px;
  width: 20px;
}
/* line 372, ../sass/skyloft.scss */
.ms-tooltip .ms-tooltip__text h4 {
  font-family: 'Novecento';
  font-size: 0.9375rem;
  margin: 0;
}
/* line 378, ../sass/skyloft.scss */
.ms-tooltip .ms-tooltip__text p {
  line-height: 1.45;
}

/* line 384, ../sass/skyloft.scss */
.map-sprite {
  width: 450px;
  height: 257px;
  position: absolute !important;
  top: 282px !important;
  left: 82px !important;
}

/* line 393, ../sass/skyloft.scss */
.map-highlight {
  background: url("../img/sprite-highlight.png") -108px 0 no-repeat;
  position: absolute;
  width: 10px;
  height: 10px;
  display: block;
  top: 120px;
  left: 80px;
  opacity: 0;
  transition: opacity 500ms ease-in-out;
  -webkit-transition: opacity 500ms ease-in-out;
  -moz-transition: opacity 500ms ease-in-out;
}
/* line 412, ../sass/skyloft.scss */
.map-highlight.weg-1, .map-highlight.weg-2, .map-highlight.weg-3, .map-highlight.weg-4, .map-highlight.weg-5, .map-highlight.weg-6, .map-highlight.weg-7, .map-highlight.weg-8, .map-highlight.weg-9, .map-highlight.weg-10, .map-highlight.weg-11, .map-highlight.weg-12, .map-highlight.weg-13, .map-highlight.weg-14, .map-highlight.weg-15, .map-highlight.weg-16, .map-highlight.weg-17, .map-highlight.weg-18, .map-highlight.weg-19, .map-highlight.weg-20, .map-highlight.weg-21, .map-highlight.weg-22, .map-highlight.weg-23, .map-highlight.weg-24, .map-highlight.weg-25, .map-highlight.weg-26 {
  opacity: 1;
}
/* line 416, ../sass/skyloft.scss */
.map-highlight.fade-out {
  opacity: 0 !important;
}
/* line 420, ../sass/skyloft.scss */
.map-highlight.weg-1 {
  background-position: 0 0;
  width: 60px;
  height: 62px;
  left: 135px;
  top: 305px;
}
/* line 428, ../sass/skyloft.scss */
.map-highlight.weg-2 {
  background-position: 0 -62px;
  width: 51px;
  height: 17px;
  left: 196px;
  top: 297px;
}
/* line 436, ../sass/skyloft.scss */
.map-highlight.weg-3 {
  background-position: 0 -79px;
  width: 13px;
  height: 62px;
  left: 246px;
  top: 303px;
}
/* line 444, ../sass/skyloft.scss */
.map-highlight.weg-4 {
  background-position: 0 -661px;
  width: 101px;
  height: 12px;
  left: 144px;
  top: 361px;
}
/* line 452, ../sass/skyloft.scss */
.map-highlight.weg-5 {
  background-position: 0 -574px;
  width: 46px;
  height: 20px;
  left: 254px;
  top: 365px;
}
/* line 460, ../sass/skyloft.scss */
.map-highlight.weg-6 {
  background-position: -36px -173px;
  width: 20px;
  height: 24px;
  left: 305px;
  top: 351px;
}
/* line 468, ../sass/skyloft.scss */
.map-highlight.weg-7 {
  background-position: 0 -622px;
  width: 84px;
  height: 39px;
  left: 319px;
  top: 346px;
}
/* line 476, ../sass/skyloft.scss */
.map-highlight.weg-8 {
  background-position: -47px -201px;
  width: 48px;
  height: 54px;
  left: 411px;
  top: 348px;
}
/* line 484, ../sass/skyloft.scss */
.map-highlight.weg-9 {
  background-position: -59px -547px;
  width: 51px;
  height: 15px;
  left: 470px;
  top: 395px;
}
/* line 492, ../sass/skyloft.scss */
.map-highlight.weg-10 {
  background-position: 0 -152px;
  width: 36px;
  height: 49px;
  left: 101px;
  top: 368px;
}
/* line 500, ../sass/skyloft.scss */
.map-highlight.weg-11 {
  background-position: 0 -255px;
  width: 72px;
  height: 79px;
  left: 133px;
  top: 365px;
}
/* line 508, ../sass/skyloft.scss */
.map-highlight.weg-12 {
  background-position: 0 -440px;
  width: 110px;
  height: 51px;
  left: 145px;
  top: 367px;
}
/* line 516, ../sass/skyloft.scss */
.map-highlight.weg-13 {
  background-position: -63px -334px;
  width: 40px;
  height: 34px;
  left: 265px;
  top: 384px;
}
/* line 524, ../sass/skyloft.scss */
.map-highlight.weg-14 {
  background-position: -29px -79px;
  width: 42px;
  height: 67px;
  left: 271px;
  top: 389px;
}
/* line 532, ../sass/skyloft.scss */
.map-highlight.weg-15 {
  background-position: 0 -594px;
  width: 69px;
  height: 28px;
  left: 318px;
  top: 382px;
}
/* line 540, ../sass/skyloft.scss */
.map-highlight.weg-16 {
  background-position: -46px -574px;
  width: 53px;
  height: 13px;
  left: 399px;
  top: 399px;
}
/* line 548, ../sass/skyloft.scss */
.map-highlight.weg-17 {
  background-position: -60px 0;
  width: 39px;
  height: 47px;
  left: 465px;
  top: 408px;
}
/* line 556, ../sass/skyloft.scss */
.map-highlight.weg-18 {
  background-position: 0 -517px;
  width: 96px;
  height: 30px;
  left: 101px;
  top: 420px;
}
/* line 564, ../sass/skyloft.scss */
.map-highlight.weg-19 {
  background-position: 0 -547px;
  width: 59px;
  height: 27px;
  left: 206px;
  top: 438px;
}
/* line 572, ../sass/skyloft.scss */
.map-highlight.weg-20 {
  background-position: 0 -673px;
  width: 118px;
  height: 22px;
  left: 281px;
  top: 443px;
}
/* line 580, ../sass/skyloft.scss */
.map-highlight.weg-21 {
  background-position: -36px -152px;
  width: 27px;
  height: 21px;
  left: 407px;
  top: 444px;
}
/* line 588, ../sass/skyloft.scss */
.map-highlight.weg-22 {
  background-position: -13px -79px;
  width: 16px;
  height: 73px;
  left: 196px;
  top: 445px;
}
/* line 596, ../sass/skyloft.scss */
.map-highlight.weg-23 {
  background-position: 0 -334px;
  width: 63px;
  height: 56px;
  left: 208px;
  top: 466px;
}
/* line 604, ../sass/skyloft.scss */
.map-highlight.weg-24 {
  background-position: 0 -201px;
  width: 47px;
  height: 39px;
  left: 272px;
  top: 468px;
}
/* line 612, ../sass/skyloft.scss */
.map-highlight.weg-25 {
  background-position: 0 -491px;
  width: 95px;
  height: 26px;
  left: 280px;
  top: 461px;
}
/* line 620, ../sass/skyloft.scss */
.map-highlight.weg-26 {
  background-position: 0 -390px;
  width: 83px;
  height: 50px;
  left: 383px;
  top: 480px;
}

@keyframes wc {
  /* line 630, ../sass/skyloft.scss */
  0% {
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    opacity: 0;
  }

  /* line 631, ../sass/skyloft.scss */
  60% {
    transform: rotate(-10deg);
    -webkit-transform: rotate(-10deg);
    -moz-transform: rotate(-10deg);
    opacity: 1;
  }

  /* line 632, ../sass/skyloft.scss */
  80% {
    transform: rotate(10deg);
    -webkit-transform: rotate(10deg);
    -moz-transform: rotate(10deg);
    opacity: 1;
  }

  /* line 633, ../sass/skyloft.scss */
  90% {
    transform: rotate(-5deg);
    -webkit-transform: rotate(-5deg);
    -moz-transform: rotate(-5deg);
    opacity: 1;
  }

  /* line 634, ../sass/skyloft.scss */
  100% {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    opacity: 1;
  }
}

@-webkit-keyframes wc {
  /* line 638, ../sass/skyloft.scss */
  0% {
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    opacity: 0;
  }

  /* line 639, ../sass/skyloft.scss */
  60% {
    transform: rotate(-10deg);
    -webkit-transform: rotate(-10deg);
    -moz-transform: rotate(-10deg);
    opacity: 1;
  }

  /* line 640, ../sass/skyloft.scss */
  80% {
    transform: rotate(10deg);
    -webkit-transform: rotate(10deg);
    -moz-transform: rotate(10deg);
    opacity: 1;
  }

  /* line 641, ../sass/skyloft.scss */
  90% {
    transform: rotate(-5deg);
    -webkit-transform: rotate(-5deg);
    -moz-transform: rotate(-5deg);
    opacity: 1;
  }

  /* line 642, ../sass/skyloft.scss */
  100% {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    opacity: 1;
  }
}

@-moz-keyframes wc {
  /* line 646, ../sass/skyloft.scss */
  0% {
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    opacity: 0;
  }

  /* line 647, ../sass/skyloft.scss */
  60% {
    transform: rotate(-10deg);
    -webkit-transform: rotate(-10deg);
    -moz-transform: rotate(-10deg);
    opacity: 1;
  }

  /* line 648, ../sass/skyloft.scss */
  80% {
    transform: rotate(10deg);
    -webkit-transform: rotate(10deg);
    -moz-transform: rotate(10deg);
    opacity: 1;
  }

  /* line 649, ../sass/skyloft.scss */
  90% {
    transform: rotate(-5deg);
    -webkit-transform: rotate(-5deg);
    -moz-transform: rotate(-5deg);
    opacity: 1;
  }

  /* line 650, ../sass/skyloft.scss */
  100% {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    opacity: 1;
  }
}
